<div class="panel panel-default">
    <div class="panel-heading">Histórico</div>
    <div class="panel-body">
        <!--<div class="col-xs-12">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick" >
            </canvas>
        </div>-->
        <div class="col-xs-3">
            <h4>Dispositivos Cadastrados</h4>
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
            </canvas>
        </div>
         <div class="col-xs-3">
           <ul>
               <li>Atuador Padrão</li>
               <li>Atuador Analógico</li>
               <li>Sensor de Ambiente</li>
           </ul>
        </div>
    </div>
</div>